body {
  text-align: center
}
.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

/* Square loaders */

/* shared properties */

/* Blue Square */
.loaderOne {
  width: 5em;
  height: 5em;
  animation: loaderAnimOne 1.25s infinite;
}
.loaderOne #largeBox {
  height: 5em;
  width: 5em;
  background-color: #447bd9;
  animation: largeBoxAnim 1.25s alternate infinite ease-in-out;
  position: fixed;
}
.loaderOne #mediumBox {
  height: 5em;
  width: 5em;
  background-color: #66cef2;
  outline: 1px solid transparent;
  position: fixed;
  animation: medBoxAnim 1.25s alternate infinite ease-in-out;
}
.loaderOne #smallBox {
  height: 5em;
  width: 5em;
  background-color: #78f9ff;
  position: fixed;
  animation: smallBoxAnim 1.25s alternate infinite ease-in-out;
}
@keyframes loaderAnimOne {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes smallBoxAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes medBoxAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(0.75);
  }
}
@keyframes largeBoxAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Purple Square */
.loaderTwo {
  width: 5em;
  height: 5em;
  animation: loaderAnimTwo 1.25s infinite;
}
.loaderTwo #altSmallBox{
  height: 5em;
  width: 5em;
  background-color: #d8b2fb;
  position: fixed;
  animation: altSmallBoxAnim 1.25s alternate infinite ease-in-out;
  animation-delay: 1.25s;
  z-index: 1;
}
.loaderTwo #altMediumBox{
  height: 5em;
  width: 5em;
  background-color: #c07bfe;
  position: fixed;
  animation: altMediumBoxAnim 1.25s alternate infinite ease-in-out;
  animation-delay: 1.25s;
  z-index: 1;
}
.loaderTwo #altLargeBox{
  height: 5em;
  width: 5em;
  background-color: #9135ec;
  position: fixed;
}
@keyframes loaderAnimTwo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes altSmallBoxAnim {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.35);
  }
}
@keyframes altMediumBoxAnim {
  0% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0.66);
  }
}

/* muti square */
.multigroup {
  display: flex;
  flex-direction: row;
}
.loaderThree {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  animation: loaderAnimThree 2s alternate infinite ease-in-out;
}
@keyframes loaderAnimThree {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes colorchangeOne
    {
      12.5%  {background: #ffdb4d;}
      37%  {background: #06D6A0;}
      63%  {background: #26547C;}
      87.5%  {background: #06D6A0;}
      100%   {background: #ffdb4d;}
    }
#multiSquare{
  background-color: #ffdb4d;
  animation: colorchangeOne 10s infinite;
  height: 1.5em;
  width: 1.5em;
}
